body{
    background-color: red; /*commit first for css*/
}

/*adding new styles*/
header{

}

html{
    color:red;
    border:1px solid red;
}

div{
    border:1px solid green;
}
span{
    background-color: black;
}
/*testing*/
